*, *::before, *::after{
    box-sizing: border-box;
}


h1{
    text-align: center;
    background-color: rgb(245, 245, 245, 0.9);
    border-radius: 100px;
    font-family: 'Sriracha', cursive;
    font-size: 40px;
}

body{
    background-size: 100%;
    background-image: url(
        https://cdn.pixabay.com/photo/2017/11/12/15/16/table-2942740_1280.jpg
    );
}

.restaurant{
    background-color: rgb(245, 245, 245, 0.8);
    border-radius: 10px;
    float: left; 
    text-align: center;
    margin: 0 0 10px 10px;
    width: 430px;
    font-family: "Gamja Flower";
}

a{
    text-decoration: none; 
    color: black;
}

a:hover{
    color: crimson;
}

h2{
    margin: 10px auto;
    font-size: 30px;
}

img{
    padding-bottom: 10px; 
    width: 300px; 
    height: 200px;
}

ul{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.table{
    display: inline-block; 
    background-color: #f7cac9;
    border-radius: 10px;
    size: 50px;
    text-align: center;
    margin: 0 5px 5px 5px;
    padding: 0 10px;
}

.table > p {
    font-size: 25px;
}

.table > ul {
    font-size: 1.0rem;
}

.date{
    font-weight: bold;
    margin: 0 auto 5px;
    font-family: "Hi Melody";
    font-size: 1rem;
}

footer{
    clear: both;
    text-align: center;
    font-weight: bold;
    background-color: rgb(245, 245, 245, 0.5);
    padding: 5px 50px;
    position: static;
    font-family: "Hi Melody";
    font-size: 1.2rem;
}